html {
    --header-height: 40px;
    --footer-height: 40px;
    --car-width: 80px;
    --car-height: 40px;
}

@media (max-width: 415px) {
    html {
        --car-width: 50px;
        --car-height: 25px;
    }
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

header, footer {
    background-color: navy;
    color: white;
    padding: 10px;
}

body>header {
    height: var(--header-height);
}

body>footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: var(--footer-height);
}

body>footer>img {
    height: 50%;
}

body>main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    /* background-color: bisque; */
}

.racetrack {
    flex-grow: 1;
    margin: 2px 10px;
    border-radius: 80px;
    border: 5px solid white;
    background-color: black;
    position: relative;
}

@media (max-width: 415px) {
    .racetrack {
        margin: 0;
        width: 100%;
    }
}

.start-line {
    position: absolute;
    left: 50%;
    width: 3px;
    height: 40px;
    background-color: white;
}

.track.inner {
    background-color: white;
    border: 5px solid white;
}

.track {
    position: relative;
    border: 3px dashed white;
    margin: 40px;
    border-radius: 80px;
    height: calc(100% - 80px);
}

body>main>aside {
    margin: 5px 5px 5px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (max-width: 415px) {
    body>main>aside {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%
    }
}


body>main>aside>section {
    border: 1px solid navy;
    width: 180px;
}

.game-control>main {
    padding: 5px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores {
    display: flex;
    flex-direction: column;
}

.scores ul {
    padding: 0;
    margin: 0 3px;
    list-style: none;
    text-align: left;
}

.scores>header {
    padding: 5px;
}

.scores>main {
    flex-grow: 1;
    width: 100%;
    background-color: white;
    padding: 5px 2px;
}

.players, .game-control {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.players > input {
    max-width: 150px;
}

.car {
    transform-origin: center;
    /* transition: 200ms; */
    width: 80px;
    height: 40px;
    position: absolute;
    top: 2px;
    left: calc(50% - 80px);
}

.car[pos="top"] {
    top: 0;
    bottom: unset;
    right: unset;
    transform: rotate(0deg);
}

.car[pos="bottom"] {
    transform: rotate(180deg);
    top: unset;
    left: unset;
    bottom: 0;
}

.car[pos="right"] {
    transform: rotate(90deg);
    left: unset;
    right: -20px;
}

.car[pos="left"] {
    transform: rotate(270deg);
    right: unset;
    left: -20px;
    top: unset;
}

.car[p="0"] {
    left: calc(50% + 5% - 80px);
}

.car[p="1"] {
    left: calc(50% + 6% - 80px);
}

.car[p="2"] {
    left: calc(50% + 8% - 80px);
}

.car[p="3"] {
    left: calc(50% + 13% - 80px);
}

.car[p="4"] {
    left: calc(50% + 17% - 80px);
}

.car[p="5"] {
    left: calc(50% + 21% - 80px);
}

.car[p="6"] {
    left: calc(50% + 25% - 80px);
}

.car[p="7"] {
    left: calc(50% + 29% - 80px);
}

.car[p="8"] {
    left: calc(50% + 33% - 80px);
}

.car[p="9"] {
    left: calc(50% + 38% - 80px);
}

.car[p="10"] {
    left: calc(50% + 42% - 80px);
}

.car[p="11"] {
    left: calc(50% + 46% - 80px);
}

.car[p="12"] {
    left: calc(50% + 50% - 80px);
}

.car[p="12"] {
    transform: rotate(45deg);
    transform-origin: left;
}

.car[p="13"] {
    top: 6%;
}

.car[p="14"] {
    top: 8%;
}

.car[p="15"] {
    top: 12%;
}

.car[p="16"] {
    top: 16%;
}

.car[p="17"] {
    top: 20%;
}

.car[p="18"] {
    top: 24%;
}

.car[p="19"] {
    top: 28%;
}

.car[p="20"] {
    top: 32%;
}

.car[p="21"] {
    top: 36%;
}

.car[p="22"] {
    top: 40%;
}

.car[p="23"] {
    top: 44%;
}

.car[p="24"] {
    top: 48%;
}

.car[p="25"] {
    top: 52%;
}

.car[p="26"] {
    top: 56%;
}

.car[p="27"] {
    top: 60%;
}

.car[p="28"] {
    top: 64%;
}

.car[p="29"] {
    top: 68%;
}

.car[p="30"] {
    top: 72%;
}

.car[p="31"] {
    top: 76%;
}

.car[p="32"] {
    top: 80%;
}

.car[p="33"] {
    top: 84%;
}

.car[p="34"] {
    top: 88%;
}

.car[p="35"] {
    top: 92%;
}

.car[p="36"] {
    top: 96%;
}

.car[p="37"] {
    top: 100%;
}


.car[p="35"] {
    transform: rotate(135deg) translateY(25px);
}

.car[p="36"] {
    transform: rotate(135deg) translateY(45px);
}

.car[p="37"] {
    transform: rotate(135deg) translateY(65px);
}

.car[p="38"] {
    right: 3%;
    transition: unset;
}

.car[p="39"] {
    right: 8%;
}

.car[p="40"] {
    right: 12%;
}

.car[p="41"] {
    right: 16%;
}

.car[p="42"] {
    right: 20%;
}

.car[p="43"] {
    right: 24%;
}

.car[p="44"] {
    right: 28%;
}

.car[p="45"] {
    right: 32%;
}

.car[p="46"] {
    right: 36%;
}

.car[p="47"] {
    right: 40%;
}

.car[p="48"] {
    right: 44%;
}

.car[p="49"] {
    right: 49%;
}

.car[p="50"] {
    right: 53%;
}

.car[p="51"] {
    right: 57%;
}

.car[p="52"] {
    right: 61%;
}

.car[p="53"] {
    right: 65%;
}

.car[p="54"] {
    right: 69%;
}

.car[p="55"] {
    right: 73%;
}

.car[p="56"] {
    right: 77%;
}

.car[p="57"] {
    right: 81%;
}

.car[p="58"] {
    right: 85%;
}

.car[p="59"] {
    right: 89%;
}

.car[p="60"] {
    right: 93%;
}

.car[p="61"] {
    right: 97%;
}

.car[p="62"] {
    right: 100%;
}

.car[p="60"] {
    transform: rotate(225deg) translateY(20px);
}

.car[p="61"] {
    transform: rotate(225deg) translateY(60px);
}

.car[p="62"] {
    transform: rotate(225deg) translateY(90px);
}

.car[p="63"] {
    bottom: 12%;
    transition: unset;
}

.car[p="64"] {
    bottom: 14%;
}

.car[p="65"] {
    bottom: 18%;
}

.car[p="66"] {
    bottom: 21%;
}

.car[p="67"] {
    bottom: 25%;
}

.car[p="68"] {
    bottom: 29%;
}

.car[p="69"] {
    bottom: 33%;
}

.car[p="70"] {
    bottom: 36%;
}

.car[p="71"] {
    bottom: 40%;
}

.car[p="72"] {
    bottom: 44%;
}

.car[p="73"] {
    bottom: 48%;
}

.car[p="74"] {
    bottom: 51%;
}

.car[p="75"] {
    bottom: 55%;
}

.car[p="76"] {
    bottom: 59%;
}

.car[p="77"] {
    bottom: 63%;
}

.car[p="78"] {
    bottom: 66%;
}

.car[p="79"] {
    bottom: 70%;
}

.car[p="80"] {
    bottom: 74%;
}

.car[p="81"] {
    bottom: 78%;
}

.car[p="82"] {
    bottom: 81%;
}

.car[p="83"] {
    bottom: 85%;
}

.car[p="84"] {
    bottom: 89%;
}

.car[p="85"] {
    bottom: 93%;
}

.car[p="86"] {
    bottom: 96%;
}

.car[p="87"] {
    bottom: 98%;
}

.car[p="84"] {
    transform: rotate(315deg) translateY(10px);
}

.car[p="85"] {
    transform: rotate(315deg) translateY(20px);
}

.car[p="86"] {
    transform: rotate(315deg) translateY(40px);
}

.car[p="87"] {
    transform: rotate(315deg) translateY(50px);
}

.car[p="88"] {
    left: calc(10% - 80px);
    transition: unset;
}

.car[p="89"] {
    left: calc(13% - 80px);
}

.car[p="90"] {
    left: calc(17% - 80px);
}

.car[p="91"] {
    left: calc(20% - 80px);
}

.car[p="92"] {
    left: calc(23% - 80px);
}

.car[p="93"] {
    left: calc(27% - 80px);
}

.car[p="94"] {
    left: calc(30% - 80px);
}

.car[p="95"] {
    left: calc(33% - 80px);
}

.car[p="96"] {
    left: calc(37% - 80px);
}

.car[p="97"] {
    left: calc(40% - 80px);
}

.car[p="98"] {
    left: calc(43% - 80px);
}

.car[p="99"] {
    left: calc(47% - 80px);
}

.car[p="100"] {
    left: calc(50% - 80px);
}

.track.inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.round-box {
    padding: 3px 8px;
    border-radius: 13px;
    margin-right: 4px;
    margin-bottom: 2px;
    margin-top: 2px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.mb2 {
    margin-bottom: 2em;
}

.mt1 {
    margin-top: 1em;
}

.button {
    display: block;
    width: max-content;
    max-width: 20em;
    padding: 10px 25px;
    align-self: center;
    box-shadow: 6px 6px 10px rgba(122, 122, 122, 0.212);
    margin-top: 10px;
    background-color: navy;
    border-radius: 2em;
    border: none;
    color: white;
}

.button:hover {
    transform: scale(1.1);
}